/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/03/2023, 01:03:06 AM
    Author     : Computer
*/

.naranja{
    color: #d39e00;
    cursor: pointer;
}

.rojo{
    color: #c82333;
    cursor: pointer;
}

.azul{
    color: #0069d9;
    cursor: pointer;
}

.celeste{
    color: skyblue;
    cursor: pointer;
}

.green{
    color: green;
    cursor: pointer;
}

/*marita*/
.negro{
    color: black;
    cursor: pointer;
}

.space-div{
    padding-bottom: 7px;
}

.fieldset{
    background-color: #007bff;
    border-radius: 4px;
}

.fieldset_ficha{
    border: 3px gray solid;
    border-radius: 3px;
}

.legend {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: darkblue;
    font-size: 17px;
    font-weight: bold;
    padding: 3px 5px 3px 7px;
    width: auto;
}

.fieldset_menu{
    background-color: white;
    border-radius: 4px;
}

.legend_menu {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: darkblue;
    font-size: 17px;
    font-weight: bold;
    padding: 3px 5px 3px 7px;
    width: auto;
}

.a_styles{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer
}

#cronometro{
    color:#272e38;
}

#cronometro_s{
    color:#272e38;
}

#fecha{
    width: 300px;
    max-width: 300px;
    font: bold 48px 'Droid Sans', Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee); 
    background-image:    -moz-linear-gradient(top, #bbb, #eee);
    background-image:     -ms-linear-gradient(top, #bbb, #eee);
    background-image:      -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    padding: 18px 0;
    display: inline-block;
    position: relative;
}

#fecha_s{
    width: 300px;
    max-width: 300px;
    font: bold 48px 'Droid Sans', Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee); 
    background-image:    -moz-linear-gradient(top, #bbb, #eee);
    background-image:     -ms-linear-gradient(top, #bbb, #eee);
    background-image:      -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    padding: 18px 0;
    display: inline-block;
    position: relative;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.parpadea_s {
    animation-name: parpadeo_s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo_s {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo_s {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo_s {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.alert-success-color{
    display: block;
    background-color: #28a745;
    color: white;
}

.alert-danger-color{
    display: block;
    background-color: rgb(220, 53, 69);
    color: white;
}

.alert-info-color{
    display: block;
    background-color: #17a2b8;
    color: white;
}

.tr-cursor{
    cursor: pointer;
}

.fieldset2{
    background-color: #d3d7db;
    border-radius: 4px;
}

#contenedor li {
    padding: 8px;
    margin: 4px 0;
    background: #ddd;
    list-style: none;
}
#contenedor li a {
    cursor: pointer;
    float: right;
    padding: 2px 5px;
    background: #fbfbfb;
}

#contenedor0 li {
    padding: 9px;
    margin: 4px 0;
    background: #ddd;
    list-style: none;
}

#contenedor li input {
    cursor: pointer;
    float: right;
    padding: 3px 7px;
    background: #fbfbfb;
}